*.runs/
*.cache/
*.ip_user_files/
*.hw/
*.sdk/.*/
!*.sdk/*/src
*.sdk/*_bsp/
.Xil/
*.sim/
refs
.DS_Store
vivado.jou
vivado.log
thinpad_top.srcs/sim_1/new/include/path.vh
thinpad_top.srcs/sim_1/new/runtime_path/*
!thinpad_top.srcs/sim_1/new/runtime_path/scripts