*.runs/
*.cache/
*.ip_user_files/
*.hw/
*.sdk/.*/
!*.sdk/*/src
*.sdk/*_bsp/
.Xil/
*.sim/
refs
.DS_Store
vivado*
thinpad_top.srcs/sim_1/imports
thinpad_top.srcs/sim_1/runtime/*
!thinpad_top.srcs/sim_1/runtime/scripts_cpu
!thinpad_top.srcs/sim_1/runtime/scripts_router
!thinpad_top.srcs/sim_1/runtime/supervisor